@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-barlow: "Barlow", sans-serif;
  
  --color-hijau: #22c55e;
  --color-hijau-500: #22c55e;
  --color-hijau-600: #16a34a;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #f3f4f6;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #16a34a;
}